
.containers-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding-top: 50px;
    min-height: 100vh;
  }


.containers-image {
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
    background-image: url('../../../assets/3.jpg');
    background-size: cover;
    background-position: center;
    text-align: center; /* Centrer le texte */
    color: white; /* Couleur du texte */
  }
  
  .containers-image h3 {
    padding-top: 150px;
    right: 10%; /* Pour décaler le texte tout à droite */
    transform: translateY(-50%);
    text-align: left; /* Alignement du texte à droite */
    color: white;
    font-size: 30px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    margin-left: 30px;
  }
  .containers-formulaire {
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }

  .required {
    color: red; /* Couleur rouge pour l'étoile */
    margin-left: 5px; /* Marge à gauche pour espacer l'étoile du texte */
  }