.rectangle {
  width: 50%;
  height: 550px;
  position: relative;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.button {
  border-radius: 30px; 
  background-color: #009688; 
  color: white; 
  padding: 10px 20px; 
  margin: 30 45px; 
  cursor: pointer;
  border: none; 
  transition: background-color 0.3s; 
  max-width: 1500px; 
  width: auto;
  white-space: nowrap;

}

.button:hover {
  background-color: #00796b; 
}

.long-text {
  width: 800px; 
  white-space: nowrap; /* Empêche le saut de ligne */
}

.left-bottom-text {
  color: #555 !important; 
  margin-top: 10px; 
}

.right-bottom-text {
  color: white !important; 
  margin-top: 10px; 
}


.left-bottom-button {
  background-color: #74BBE4; 
  color: white

}

.right-bottom-button {
  background-color: #ffff;
  color: #056BB3
 
}

.bottom-button {
  width: 100px; 
  height: 50px; 
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 10px; 
  white-space: nowrap; 
  width: auto;
  text-align: center;
}