
.containerss-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding-top: 30px;
  min-height: 100vh;
}

.containerss-image {
  width: 50%;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
  background-image: url('../../../assets/2..jpg');
  background-size: cover;
  background-position: center;
  text-align: center; /* Centrer le texte */
  color: white; 
}

.containerss-image h1 {
  padding-top: 150px;
  right: 10%;
  transform: translateY(-50%);
  text-align: right;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-right: 30px;
  
}

.containerss-formulaire {
  width: 200%;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

form {
  width: 100%;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

.buttons-formulaire {
  display: flex;
  justify-content: space-between;
}

.back-button-formulaire,
.next-button-formulaire {
  padding: 10px 20px;
  background-color: #2682C4;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.back-button-formulaire:hover,
.next-button-formulaire:hover {
  background-color: #004C8C;
}

.required {
  color: red;
  margin-left: 5px;
}


.select-containerss {
  position: relative;
}

.select-containerss select {
  -webkit-appearance: none;
  transform-origin: top;
  width: calc(100% - 20px);/* Modifier la largeur pour correspondre aux autres champs */
  padding-right: 20px;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><polygon points="0,0 10,0 5,6"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  background-size: 10px;
}

.select-containerss select:focus {
  outline: none;
}



#frequenceSalaire{
width: calc(100% - 22px); /* Ajustement pour la flèche */
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #fff;
font-size: 16px;
padding-right: 30px; /* Espace pour la flèche à droite */
position: relative; /* Positionnement relatif pour le pseudo-élément */
overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
}
#frequenceSalaire::after {
  content: '\25BC'; /* Utilise une flèche personnalisée (triangle vers le bas) */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

#typePoste{
  width: calc(100% - 22px); /* Ajustement pour la flèche */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  padding-right: 30px; /* Espace pour la flèche à droite */
  position: relative; /* Positionnement relatif pour le pseudo-élément */
  overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
  }
  #typePoste::after {
    content: '\25BC'; /* Utilise une flèche personnalisée (triangle vers le bas) */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
  }