/* Style de la section de connexion */
.Rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 80vh; /* Ajustez la hauteur selon vos besoins */
  margin: 50px auto;
  padding: 20px;
  background-color: #F1F2F6;
  border: 2px solid #004C8C;
  border-radius: 10px;
}

/* Style du conteneur principal */
.container {
  display: flex;
  justify-content: center; /* Centrer les éléments dans le conteneur */
  align-items: center; /* Centrer les éléments dans le conteneur */
  width: 100%;
}

/* Style du conteneur de l'image */
.imageContainer {
  margin-right: 20px;
}

/* Style de l'image de gauche */
.leftImage {
  max-width: 100%; /* Utiliser la largeur maximale disponible */
  max-height: 300px; /* Ajustez la hauteur maximale selon vos besoins */
}

/* Style du conteneur du formulaire */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer les éléments horizontalement */
  justify-content: center;
}
