.header {
  width: 100%;
  height: 50px;
  background-color: white;
  color: #74BBE4;
  display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
  align-items: center; /* Alignement vertical des éléments */
  justify-content: space-between; /* Espacement égal entre les éléments */
  padding: 0 20px; /* Ajout de marge intérieure gauche et droite */
}

.header-button {
  background-color: transparent;
  color: #056BB3;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px; /* Espacement entre les boutons */
}

.logo {
  max-width: auto;
  height: 50px;
}

.logolangue {
  max-width: auto;
  height: 30px;
}

.logo-text {
  font-weight: bold;
  color: #333;
  margin-left: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}
